[Desktop Entry]
Type=Application
Exec=Franz
Name=Franz
Icon=io.defn.Franz
Version=1.4
Comment=Desktop client for Apache Kafka
Categories=Development
Terminal=false
