on:
  push:
    branches:
      - master
  workflow_dispatch:
name: Build on Linux
jobs:
  build_linux_app:
    runs-on: ${{ matrix.environment }}
    name: Build Franz (${{ matrix.platform }}) on ${{ matrix.environment }}
    strategy:
      matrix:
        environment: [ubuntu-22.04, ubuntu-22.04-arm]
        include:
          - environment: ubuntu-22.04
            platform: x86_64
            arch: x64
          - environment: ubuntu-22.04-arm
            platform: arm64
            arch: arm64
    steps:
      - uses: actions/checkout@master
      - uses: Bogdanp/setup-racket@v1.14
        with:
          architecture: ${{ matrix.arch }}
          distribution: 'full'
          variant: 'CS'
          version: '9.0'
      - name: Install Noise
        run: |
          env GIT_LFS_SKIP_SMUDGE=1 \
            git clone \
              --depth 1 \
              --branch racket-9.0 \
              https://github.com/Bogdanp/Noise Noise
          raco pkg install -D --batch --auto Noise/Racket/noise-serde-lib/
      - name: Prepare secrets
        run: |
          echo -n "$LICENSE_SECRET" | base64 -d > core/secrets/license-secret.txt
        env:
          LICENSE_SECRET: ${{ secrets.LICENSE_SECRET }}
      - name: Install core
        run: raco pkg install -D --batch --auto --name franz core/
      - name: Install FranzCross
        run: raco pkg install -D --batch --auto FranzCross/
      - name: Build distribution
        run: bash ./build.sh
        working-directory: FranzCross
      - name: Upload distribution
        uses: actions/upload-artifact@v4
        with:
          name: Franz-${{ matrix.platform }}.tar.gz
          path: FranzCross/Franz.tar.gz
